*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
header{
    background-color: #000;
    color:#fff;
    padding:16px;
    font-size:1.5rem;
    position:fixed;
    width:100%;
    top:30px;
}
.right{
    position:absolute;
    right:0;
    background-color: #000;
    color:red;
    top:16px;
}
img{
    display: block;
    width: 100%;
    margin-bottom: 2000px;
}