*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 22px;
    text-align: justify;
}
div{
    background-color:black;
    color: white;
    font-size:2rem;
    padding:20px;
    text-align:center;
    position: sticky;
    top:0;
}